# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/*.db
backend/error.txt
backend/error.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*
frontend/.eslintcache

# OS
.DS_Store
Thumbs.db
